.shop-screen {
    padding-top: var(--height-navbar);
    // margin-top: var(--height-navbar);

    & .shop-banner {
        padding: 20px 0;
        text-align: center;
        background-color: var(--grey-color);

        & h1 {
            font-size: 5rem;
            font-weight: bold;
        }

        & p {
            font-size: 1.2rem;
            font-weight: 600;
        }
    }

    & .shop-collections {
        &-item {
            display: block;
            margin: 8px 0;
            padding: 0 24px;
            color: var(--black-color);
            font-size: 1.2rem;

            &.active {
                font-weight: bold;
                padding: 10px 24px;
                border: 1px solid #dfdfdf;
                border-radius: 50px;
            }
        }
    }
}
